/*####################       Share Button          #######################*/
.uiButton:hover {
	text-decoration: none;	
}

.uiButton, .uiButtonSuppressed:hover, .uiButtonSuppressed:active, .uiButtonSuppressed:focus {
-moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.1);
background:url("../graphics/fb_share.png") repeat scroll 0 0 #EEEEEE;
border-color:#999999 #999999 #888888;
border-style:solid;
border-width:1px;
color:#333333;
cursor:pointer;
display:inline-block;
font-size:11px;
font-weight:bold;
line-height:normal !important;
padding:2px 6px;
text-align:center;
text-decoration:none;
vertical-align:middle;
white-space:nowrap;
}



.uiButtonMedium .img {
margin-top:2px;
}
.uiButton .img {
margin-right:5px;
vertical-align:top;
}
i.img {
}
.sx_713902 {
background-position:0 -50px;
width:8px;
}
.spritemap_3jkv60 {
background-image:url("../graphics/fb_share_blase.png");
background-repeat:no-repeat;
display:inline-block;
height:14px;
}
i, cite, em, var, dfn {
font-style:italic;
}


.uiButton .uiButtonText, .uiButton input {
background:none repeat scroll 0 0 transparent;
border:0 none;
color:#333333;
cursor:pointer;
display:inline;
font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
font-size:11px;
font-weight:bold;
margin:0;
outline:medium none;
padding:1px 0 2px;
white-space:nowrap;
}
.uiButton .img {
margin-right:0;
vertical-align:top;
}
.sx_abccc4 {
background-position:0 -1px;
}
.spritemap_5xqgql{
	background-image: url('../graphics/bookmark.png');
	background-repeat:no-repeat;
	display:inline-block;
	height:16px;
	width:16px;
}
.uiButton .customimg {
margin-top:0;
}
.uiButton, .uiButtonSuppressed:hover, .uiButtonSuppressed:active, .uiButtonSuppressed:focus {
-moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.1);
background:url("../graphics/fb_share.png") repeat scroll 0 0 #EEEEEE;
border-color:#999999 #999999 #888888;
border-style:solid;
border-width:1px;
color:#333333;
cursor:pointer;
display:inline-block;
font-size:11px;
font-weight:bold;
line-height:normal !important;
padding:3px 6px 1px 3px;
text-align:center;
text-decoration:none;
vertical-align:middle;
white-space:nowrap;
}

/*####################       Login Button    
######################    DOES NOT HAVE TO BE INCLUDED AS IT HAS TO BE LOADED BY FACEBOOK (BECAUSE THE XFBML WOULD NEED IT!!!)      #######################


a.fb_button, a.fb_button_rtl, .fb_button, .fb_button_rtl {
text-decoration:none;
}
.fb_button_medium, .fb_button_medium_rtl {
background-position:left -188px;
font-size:11px;
line-height:14px;
}
.fb_button, .fb_button_rtl {
background:url("graphics/fb_button_xfbml.png") no-repeat scroll 0 0 #29447E;
cursor:pointer;
display:inline-block;
outline:medium none;
padding:0 0 0 1px;
}

.fb_button .fb_button_text, .fb_button_rtl .fb_button_text {
background:url("graphics/fb_button_xfbml.png") repeat scroll 0 0 #5F78AB;
border-bottom:1px solid #1A356E;
border-top:1px solid #879AC0;
color:#FFFFFF;
display:block;
font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
font-weight:bold;
margin:1px 1px 0 21px;
padding:2px 6px 3px;
text-shadow:none;
}
*/